In [1]:
import streamlit as st

2022-02-16 10:26:00.085 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'first column': [1, 2, 3, 4],
    'second column': [10, 20, 30, 40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40

### Insurance Regression

In [4]:
data = pd.read_csv("insurance_regression.csv")

In [5]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
columns = ['age', 'sex', 'bmi', 'children', 'smoker', 'region']
target = 'charges'

X = data[columns]
y = data[target]

X_dummies = pd.get_dummies(X)

X_final = X_dummies.drop(['sex_male', 'smoker_no'], axis=1)


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_final, y, random_state=42, test_size=0.2)

In [7]:
X = data[columns]
y = data[target]

In [8]:
X.head(2)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast

In [9]:
X_dummies = pd.get_dummies(X)

In [10]:
X_dummies.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [11]:
X_final = X_dummies.drop(['sex_male', 'smoker_no'], axis=1)

In [12]:
X_final.head()

,age,bmi,children,sex_female,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,1,0,0,0,1
1,18,33.770,1,0,0,0,0,1,0
2,28,33.000,3,0,0,0,0,1,0
3,33,22.705,0,0,0,0,1,0,0
4,32,28.880,0,0,0,0,1,0,0

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y, random_state=42, test_size=0.2)

In [16]:
lr = LinearRegression()

In [17]:
lr.fit(X_train, y_train)

LinearRegression()

In [18]:
print(lr.score(X_test, y_test))

0.7835929767120723

In [19]:
import joblib

In [20]:
# saving the model
filename = 'finalized_model.sav'
joblib.dump(lr, filename)

['finalized_model.sav']

In [22]:
# Loading the model 
loaded_model = joblib.load(filename)

In [24]:
# loaded_model.predict(X_test)

In [25]:
X_train.head()

,age,bmi,children,sex_female,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
560,46,19.95,2,1,0,0,1,0,0
1285,47,24.32,0,1,0,1,0,0,0
1142,52,24.86,0,1,0,0,0,1,0
969,39,34.32,5,1,0,0,0,1,0
486,54,21.47,3,1,0,0,1,0,0

In [29]:
age = 52
bmi = 30.2
num_children = 2

gender = 'female'
if gender == 'male':
    is_female = 0
else:
    is_female = 1
    
smoker = 'yes'
if smoker== 'yes':
    is_smoker = 1
else:
    is_smoker = 0
    
region = 'northwest'
if region == 'northeast':
    loc_list = [1, 0, 0, 0]
elif region == 'northwest':
    loc_list = [0, 1, 0, 0]
elif region == 'southeast':
    loc_list = [0, 0, 1, 0]
elif region == 'southwest':
    loc_list = [0, 0, 0, 1]
    
loaded_model.predict([[age, bmi, num_children, is_female, is_smoker] + loc_list])[0]

/Users/xavier/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

35742.72181833056

In [32]:
# !pip install pipreqs
!pipreqs --force

INFO: Successfully saved requirements file in /Users/xavier/Desktop/DARIUS/requirements.txt